@import 'fonts';

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    color: #333;
}
body{
    background-color: #f2f2f2;
    font-family: "RootReg", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}
a{
    text-decoration: none;
}
.title{
    font-family: "RootBold", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    margin-left: 43px;
    margin-bottom: 15px;
}
.container{
    margin: 0 auto;
    max-width: 1743px;
    padding: 0 15px;
}
.checkout__inner{
    padding-top: 48px;
}
.settings__title{
    font-family: "RootBold", sans-serif;
    font-weight: 700;
    font-size: 29px;
    margin-bottom: 15px;
}
.box-inner{
    padding: 43px;
}
.checkout__settings-recipient{
    margin-top: 30px;
}
.checkout__box-inner{
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.checkout__order-info{
    border-left: 2px solid #c5c5c5;
}
.settings-recipient__info{
    max-width: 572px;
    width: 100%;   
    &.settings-phone{
        max-width: 287px;
        width: 100%;
    } 
    & + &{
        margin-left: 14px;
    }
    position: relative;
    .info-select__label{
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 17px;
    }
    .settings-recipient__info-select{
        font-family: "RootBold", sans-serif;
        font-weight: 700;
        width: 100%;
        padding: 34px 58px 12px 16px;
        border: 1px solid #D6D6D6;
        background-color: #fff;
        border-radius: 4px;
        appearance: none !important;
        background-image: url(../images/icons/down-arrow.png);
        background-size: 14px 14px;
        background-repeat: no-repeat;
        background-position: right 14px center;
        outline: none;
        &:focus{
            border: 1px solid #065CC2; 
        }
    }
}
.settings-recipient__info__add{
    color: #065CC2;
    font-size: 22px;
    display: inline-block;
    margin-top: 14px;
    &.delivery__date-link{
        margin-left: 30px;
    }
}
.settings-recipient__info-inner{
    display: flex;
    align-items: start;
}

.checkout__footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #c5c5c5;
}
.checkout__footer-inner{
    padding: 20px 43px;
    display: flex;
    justify-content: space-between;
}
.checkout__btn{
    font-family: "RootBold", sans-serif;
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 21px 50px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
    background: linear-gradient(0deg, #EC0002, #EC0002), linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #D02626 99.65%), #FF0000;
}
.checkout__total-price__inner{
    display: flex;
    align-items: center;
}
.checkout__total-price{
    display: flex;
    align-items: center;
    .checkout__total-price__price{
        font-size: 35px;
        font-family: "RootBold", sans-serif;
        font-weight: 700;
        margin-left: 50px;
    }
}

.order-info__summary{
    padding-top: 15px;
    padding-bottom: 20px;
    width: 489px;
    border-bottom: 1px solid #d6d6d6;
}
.order-info__summary-item{
    display: flex;
    justify-content: space-between;
    & + &{
        margin-top: 14px;
    }
    .summary-item__info{
        font-family: "RootBold", sans-serif;
        font-weight: 700;
    }
}

.checkout__settings-delivery{
    margin-bottom: 32px;
}

.delivery__slider{
    max-width: 1000px;
}
.delivery__item{
    cursor: pointer;
    border: 2px solid #D6D6D6;
    border-radius: 4px;
    &.active{
        border: 2px solid #065CC2;
    }
}
.delivery__mirror{
    display: none;
}
.delivery__slider-item{
    .delivery__slider-item__wrapper{
        width: 489px;
        height: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .delivery__inner{
        max-width: 360px;
    }
    .delivery__courier{
        font-family: "RootBold", sans-serif;
        font-weight: 700;
    }
    .delivery__address{
        line-height: 28px;
    }
}
.slick-initialized .slick-slide{
    display: flex;
}
.slick-prev,
.slick-next{
    position: absolute;
    top: -50px;
    right: 11px;
    font-size: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    cursor: pointer;
    &::after{
        position: absolute;
        content: '';
        width: 22px;
        height: 22px;
        top: 9px;
        left: 9px;
        background-image: url(../images/icons/right-arrow.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;        
    }
    &.slick-disabled{
        transition: all .3s;
        opacity: 30%;
    }
}
.slick-prev{
    right: 56px;
    transform: scale(-1, 1);
}

.delivery__date-item__inner{
    display: flex;
    align-items: center;
}
.delivery__date-box{
    display: flex;
    align-items: center;
}
.delivery__date-inner{
    margin-top: 30px;
}
.delivery__date-item{
    display: inline-block;
    padding: 20px;
    & + &{
        margin-left: 14px;
    }
    .date__item-day{
        font-family: "RootBold", sans-serif;
        font-weight: 700;
    }
}

.delivery__checkbox-inner{
    .checkbox-inner + .checkbox-inner{
        margin-top: 18px;
    }
    .checkbox-inner{
        display: flex;
        align-items: flex-start;
        input[type=checkbox]{
            position: absolute;
            z-index: -1;
            opacity: 0;
            &+label {
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                &::before{
                    content: '';
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    background-color: #065CC2;
                    margin-right: 10px;
                }
            }
            &:checked+label::before{
                background-image: url(../images/icons/check.png);
                background-size: 15px 15px;
                background-position: center;
                background-repeat: no-repeat;
            }
            &:disabled+label::before {
                opacity: 30%;
            }
        }
    }
    margin-top: 16px;
}

.total-price__details{
    display: none;
}

.order-info__summary.mobile{
    display: none;
}

@import 'media';
